<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="?mode=snapshot">스냅샷 보기</a> |
        <a href="?mode=stream">스트림 보기</a>
    </div>
    <br>

    {% if mode == "#" %}
        <img id="image" />
    {% elif mode == "snapshot" %}
        <img id="image" src="{% url 'snapshot'%}" />
    {% elif mode == "stream" %}
        <img id="image" src="{% url 'stream'%}" />
    {% endif %}
</body>
</html>