{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}password_change_form.html{% endblock %}
{% block content %}
<style>
.content {
text-align: center;
height: 40%;
width: 25%;
}

::placeholder {
color:black;
font-size:1.1em;
}
.form-group{
font-weight: bold;
font-size:1.1em;
}



</style>
<div class="content">
    <h1 style="font-weight:bold;">{{ title }}</h1>

    <form action="." method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <div class="font-weight-bold" style="color:red; background-color:red;">
                {{ form.errors }}
            </div>
        </div>
        {% endif %}


        <div class="form-group">
            {{ form.old_password|attr:"autofocus"|attr:"placeholder=(구)비밀번호"}}
        </div>

        <div class="form-group">
            {{ form.new_password1|attr:"autofocus"|attr:"placeholder=새비밀번호"}}
        </div>

        <div class="form-group">
            {{ form.new_password2|attr:"autofocus"|attr:"placeholder=새비밀번호확인"}}
        </div>

        <div class="form-group">
            <div class="offset-sm-3 col-sm-5">
                <input type="submit" value="비밀번호 변경" class="btn btn-info"/>
            </div>
        </div>
    </form>
</div>
{% endblock %}