{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}register.html{% endblock %}
{% block content %}
<style>
.content {
text-align: center;
height: 60%;
width: 25%;
}
::placeholder {
color:black;
font-size:1.1em;
}
.form-group{
font-weight: bold;
font-size:1.1em;
}
</style>

<div class="content">
    <form action="." method="post">
        <h1 style="font-weight:bold;">회원가입</h1>

        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <div class="font-weight-bold" style="color:red; background-color:red;">
                {{ form.errors }}
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            {{ form.username|attr:"autofocus"|attr:"placeholder=아이디"}}
        </div>

        <div class="form-group">
            {{ form.password1|attr:"placeholder=비밀번호"}}
        </div>

        <div class="form-group">
            {{ form.password2|attr:"placeholder=비밀번호확인"}}
        </div>

        <div class="form-group">
            {{ form.last_name|attr:"placeholder=이름"}}
        </div>

        <div class="form-group">
            {{ form.email|attr:"placeholder=Email"}}
        </div>

        <div class="form-group">
            <div class="offset-sm-3 col-sm-5">
                <input type="submit" value="회원가입" class="btn btn-info"/>
            </div>
        </div>
    </form>
</div>
{% endblock %}