{% extends "base2.html" %}
{% block title %}post_all.html{% endblock %}

{% block extra-style %}
<style>
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:visited
{
    color: white;
    background-color: purple;
    border: solid 1px purple;
}
</style>
{% endblock %}



{% block content %}
<h1>Blog List</h1>
<br>
{% for post in object_list %}
<h3><a href='{{ post.get_absolute_url }}' >
    {{ post.title }}</a></h3>
{{ post.modify_date|date:"N d, Y" }}
<p>{{ post.description }}</p>
<div class="text-right">작성자 : {{ post.owner }}  조회수 : {{ post.read_cnt }}</div>
{% endfor %}
<br>
<div>
 <span>
 {% include "pagination.html" %}
 </span>
</div>
<div>
    {% if user.is_active %}
    <ul class="text-right mr-3">
        <a href="{%url 'blog:add' %}" class="btn btn-primary btn-sm">
            <i class="fas fa-pencil-alt"></i> 쓰기</a>
    </ul>
    {% endif %}
</div>
{% endblock %}