<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Navbar</a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <!-- 홈페이지 관례 -->
                    <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <i class="fas fa-list"></i> 게시판</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="board.html">자유게시판</a>
                    <a class="dropdown-item" href="board.html">비밀게시판</a>
                    <a class="dropdown-item" href="board.html">방명록</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gallery.html">
                    <i class="fas fa-images"></i> 갤러리</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="login.html">
                    <i class="fas fa-sign-in-alt"></i> 로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="join.html">
                    <i class="fas fa-user-plus"></i> 회원가입</a>
            </li>
        </ul>

    </div>
</nav>