{% extends "base.html" %}
{% block title %}게시판{% endblock %}
{% block content %}
<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
<style>
.content {
text-align: center;
height: 60%;
width: 50%;
}
.table{
font-size:1.2em;

}
td{
text-align:center;
}
#store:hover tbody tr:hover td {
background: rgba(255,255,255,0.5);
color:white;
}
.hn{font-family: 'Hanna', sans-serif;}
.target1 { display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
</style>


<div class="content hn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background-color:rgba(140,200,50,0.6);">
                <div class="card-header card-header-success" style="text-align: left;"></div>

                <div class="card-body table-responsive" style="padding-top:0;">
                    <table id="store" class="table table-hover" style="margin-bottom:0;">
                        <thead class="text-dark">
                        <tr>
                            <td class="target1" style="padding:0.2rem;width:50%;">제목</td>
                            <td class="target1" style="padding:0.2rem;width:10%;">작성자</td>
                            <td class="target1" style="padding:0.2rem;width:40%;">등록시간</td>
                        </tr>
                        </thead>

                        <tbody>
                        {% for board in boards %}
                        <tr onclick="location.href='{% url 'board:board_detail' board.id %}'">
                            <td class="target1" style="padding:0.2rem;width:50%;">{{board.title}}</td>
                            <td class="target1" style="padding:0.2rem;width:10%;">{{board.owner}}</td>
                            <td class="target1" style="padding:0.2rem;width:40%;">{{board.registered_date}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if user.is_active %}
                    <div class="text-right mr-3">
                        <a href="{% url 'board:board_add' market_fk%}" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> 쓰기</a>
                    </div>
                    {% endif %}
                    <ul class="pagination justify-content-center">
                        {% if boards.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?p={{boards.previous_page_number}}">이전</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link disabled" href="#">이전</a>
                        </li>
                        {% endif %}

                        <li class="page-item active">
                            <a class="page-link">{{boards.number}}/{{boards.paginator.num_pages}}</a>
                        </li>

                        {% if boards.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?p={{boards.next_page_number}}">다음</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link disabled" href="#">다음</a>
                        </li>
                        {% endif %}
                    </ul>


                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}