{% extends 'base.html' %}
{% block title %}시장{% endblock %}
{% block content %}
<style>
    .content {
        text-align: center;
        height: 70%;
        width: 70%;
        overflow-y: scroll;
          -ms-overflow-style: none;  /* IE and Edge */
           scrollbar-width: none;  /* Firefox */
    }
    .content::-webkit-scrollbar {
         display: none;
    }

    .container-wrap>.container .row {
        background: #ff0;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .container>.row {
        background: #FF0000;

    }

    .container-wrap>.blank {
        height: 3px;
        width: 1px;
        background: #B2EBF4;
    }
    .card {
     color:rgba(255,255,255,1);
    }
    .card:hover{
     transform: scale(1.05);
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }









</style>


<div class="content hn">
    <h1 style="text-align: left;"><i class="fas fa-store">{{market_detail.location}}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{market_detail.market_name}}
    </i></h1>
    <div class="container-fluid">
        <div class="row">
            <!--              1번째 카드-->
            <div class="col-md-4" onclick="location.href='/market/market_detail/{{market_detail.id}}' ">
                <div class="card card-chart" style="background-color:rgba(38,94,171,0.6);">
                    <div class="card-body">
                        <br>
                        <i class="fas fa-sign-in-alt" style="font-size:2.3em;">&nbsp;시장 소개</i>
                        <br>
                    </div>
                </div>
            </div>
            <!--              1번째 카드 끝-->
            <!--              2번째 카드-->
            <div class="col-md-4" onclick="location.href='/market/store/{{market_detail.id}}' ">
                <div class="card card-chart" style="background-color:rgba(33,194,242,0.6);">
                    <div class="card-body">
                        <br>
                        <i class="fas fa-sign-in-alt" style="font-size:2.3em;">&nbsp;점포 안내</i>
                        <br>
                    </div>
                </div>
            </div>
            <!--              2번째 카드 끝-->
            <!--              3번째 카드-->
            <div class="col-md-4" onclick="location.href='{% url 'board:board' market_detail.id %}' ">
                <div class="card card-chart" style="background-color:rgba(147,218,54,0.6);">
                    <div class="card-body">
                        <br>
                        <i class="fas fa-sign-in-alt" style="font-size:2.3em;">&nbsp;게시판</i>
                        <br>
                    </div>
                </div>
            </div>
            <!--              3번째 카드 끝-->

        </div>
        <div class="row">
            <!--              2번째 열 1번째 카드 시작-->
            <div class="col-lg-6 col-md-12">
                <div class="card" style="background-color:rgba(134,12,232,0);" id="map">
                    <div class="card-header card-header-success" style="text-align: left;"><i
                            class="fas fa-sign-in-alt"> 지도</i></div>

                    <div class="card-body table-responsive" style="padding-top:0;">
                        <table class="table table-hover" style="margin-bottom:0;">
                            <tbody>
                            {% for item in items %}
                            <tr style="color:white;" onclick="location.href='{{item.link}}'">
                                <td style="padding:0.65rem;">{{ item.title|safe }}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--              2번째열 1번째 카드 끝-->
            <!--              2번째 열 2번째 카드 시작-->
            <div class="col-lg-6 col-md-12">
                <div class="card" style="background-color:rgba(134,12,232,0.6);">
                    <div class="card-header card-header-success" style="text-align: left;"><i
                            class="fas fa-sign-in-alt"> 네이버 블로그</i></div>

                    <div class="card-body table-responsive" style="padding-top:0;overflow:hidden;">
                        <table class="table table-hover" style="margin-bottom:0;">
                            <tbody>
                            {% for item in items %}
                            <tr style="color:white;" onclick="location.href='{{item.link}}'">
                                <td style="padding:0.65rem;">{{ item.title|safe }}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--              2번째 열 2번째 카드 끝-->
        </div>
    </div>
</div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=672f1dc7e3016f169ace1e986e9d359c"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng({{market_detail.latitude}}, {{market_detail.longitude}}), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption);

// 마커가 표시될 위치입니다
var markerPosition  = new kakao.maps.LatLng({{market_detail.latitude}}, {{market_detail.longitude}});

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);

var iwContent = '<div style="padding:5px; text-align:center;"><b style="color:black;">{{market_detail.market_name}}</b><br><a href="https://map.kakao.com/link/map/{{market_detail.market_name}},{{market_detail.latitude}},{{market_detail.longitude}}" style="color:blue" target="_blank">큰지도보기</a> | <a href="https://map.kakao.com/link/to/{{market_detail.market_name}},{{market_detail.latitude}},{{market_detail.longitude}}" style="color:blue" target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    iwPosition = new kakao.maps.LatLng({{market_detail.longitude}}, {{market_detail.latitude}}); //인포윈도우 표시 위치입니다

// 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({
    position : iwPosition,
    content : iwContent
});

// 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
infowindow.open(map, marker);

// 반응형으로 사이즈 변경시에도 핀 가운데 위치
$(window).on('resize', function(){
    map.relayout();
    map.setCenter(markerPosition);
});


</script>

{% endblock %}