{% extends "base2.html" %}
{% block title %}bookmark_list.html{% endblock %}
{% block content %}
<h1>Bookmark List</h1>
<br>
<ul>
    {% for bookmark in object_list %}
    <li><a href="{% url 'bookmark:detail' bookmark.id %}">
        {{ bookmark }}</a></li>
    {% endfor %}
</ul>

<div>
    {% if user.is_active %}
        <a href="{%url 'bookmark:add' %}" class="btn btn-primary btn-sm">
            <i class="fas fa-pencil-alt"></i> 쓰기</a>
        <a href="{% url 'bookmark:change'%}" class="btn btn-primary btn-sm">
            <i class="far fa-edit"></i> 수정 목록</a>
    {% endif %}
</div>

{% endblock %}